body {
    margin: 0;
    font-family: 'Open Sans',sans-serif;
}

#landing {
    border: none;
}

#myPic {
    position: absolute;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
}

.outer-container {
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
}

.inner-container {
    position: absolute;
    width: 100%;
    text-align: center;
}

#sayHello {
    top: 30%;
}

#whatsMyName {
    top: 40%;
    animation-delay: 1s;
}

#scrollDown {
    top: 70%;
    animation-delay: 2s;
}

.heading {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 2px;
}

.subtopic {
    color: rgb(80, 80, 80);
    font-weight: 300;
    margin: 0px;
    padding: 15px;
    text-align: center;
}

#scrollText {
    display: block;
}

.canvasTranslateDown {
    transform: translateY(100px);
}

p {
    text-align: center;
    color: rgb(80, 80, 80);
    margin: auto;
    min-width: 300px;
    max-width: 700px;
    padding: 20px;
    padding-top: 0px;
}

#links {
    position: relative;
}

.textLogo {
    font-size: 45px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(196, 196, 196);
    transition: color 0.5s;
}

#githubLogo:hover {
    color: black;
}

#twitterLogo:hover {
    color: #2aa3ef;
}

#facebookLogo:hover {
    color: #4969a8;
}

#linkedinLogo:hover {
    color: #1677b2;
}

#emailLogo:hover {
    color: black;
}

/* Animation */
@keyframes fadeInUp {
    from {
        transform: translateY(140px);
    }

    to {
        transform: translateY(100px);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translateY(140px);
    }

    to {
        transform: translateY(100px);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}

@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}

@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}

.scroll-btn {
	display: block;
	position: relative;
	left: 0;
	right: 0;
	text-align: center;
}

.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	/* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; */
	letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 23px;
}

.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}