/*General Stuff*/
body {
    margin: 0;
    font-family: 'Open Sans',sans-serif;
}

.outer-container {
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
}

.inner-container {
    position: absolute;
    width: 100%;
    text-align: center;
}

.heading {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 2px;
}

.subtopic {
    color: rgb(80, 80, 80);
    font-weight: 300;
    margin: 0px;
    padding: 15px;
    text-align: center;
}

.paragraph-center {
    text-align: center;
}

p {
    text-align: center;
    color: rgb(80, 80, 80);
    margin: auto;
    min-width: 300px;
    max-width: 700px;
    padding: 20px;
    padding-top: 0px;
}

@media only screen and (max-width: 500px) {
    p {
        text-align: justify;
    }
}

a {
    color: rgb(80, 80, 80);
    cursor: pointer;
}

a:hover {
    color: rgb(133, 133, 133);
}

/*Landing Section*/
#landing {
    border: none;
}

#myPic {
    position: absolute;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
}

#sayHello {
    top: 30%;
}

#whatILike {
    top: 40%;
    animation-delay: 1s;
}

/*Scroll down stuff*/
.scroll-btn {
	display: block;
	position: relative;
}

#chevronDown:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

#scrollDown {
    bottom: 8%;
    transform: translateY(-98px);
    animation-delay: 2s;
    animation-name: fadeInUpScroll;
    -webkit-animation-name: fadeInUpScroll;
}

#scrollImage {
    position: relative;
    padding: 10px;
    animation: bobbingAction 2.5s ease 3s;
    animation-iteration-count: infinite;
}

#chevronDown {
    width: 75px;
    height: 45px;
    padding-top: 15px;
    font-size: 32px;
    cursor: pointer;
    color: white;
}

/*What I've Worked On section*/
button {
    width: 130px;
    height: 50px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5%;
    font-size: 1.2em; 
    color: rgb(80, 80, 80);
    font-family: 'Open Sans',sans-serif;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.5s;
}

button:hover {
    background-color: rgb(225, 225, 225);
}

.resumeIcon {
    margin-left: 10px;
}

/*Find Me section*/
#links {
    position: relative;
}

.textLogo {
    font-size: 45px;
    margin: 20px;
    color: rgb(196, 196, 196);
    transition: color 0.5s;
}

#githubLogo:hover {
    color: black;
}

#twitterLogo:hover {
    color: #2aa3ef;
}

#facebookLogo:hover {
    color: #4969a8;
}

#linkedinLogo:hover {
    color: #1677b2;
}

#emailLogo:hover {
    color: black;
}

/* Animation */
@keyframes bobbingAction {
    0%,40% {
        top: 0px;
    }

    20% {
        top: 15px;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(140px);
    }

    to {
        transform: translateY(100px);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translateY(140px);
    }

    to {
        transform: translateY(100px);
        opacity: 1
    }
}

@keyframes fadeInUpScroll {
    from {
        transform: translateY(40px);
    }

    to {
        transform: translateY(0px);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUpScroll {
    from {
        transform: translateY(40px);
    }

    to {
        transform: translateY(0px);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}